// Core variables and mixins
@import "~bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";

advanced-searchbox{
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px 15px 0 15px;
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .as-filter{
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
        input{
            padding: 0 15px;
        }
        ng-select{
            input{
                padding:0;
            }
        }
        .input-group-prepend .notClickable{
            color: #007bff;
            background-color: transparent;
            background-image: none;
            border-color: #007bff;
            cursor: default;
        }
        .input-group-prepend .noRadius{
            border-radius:0; 
        }
    }
    #search{
        width: 50px;
        flex-grow: 1;
        margin-bottom: 15px;
        padding: 0 15px;
    }
    ng-select, .ng-select{
        .ng-menu-outer{
            width:auto!important;
            min-width: 200px;
        }
        &.ng-single .ng-control{
            height:100%;
            border-radius:0;
        }
    }
}

.ng-select-dropdown-outer{
    width: auto!important;
}



