// Core variables and mixins
@import "~bootstrap/scss/bootstrap";

advanced-searchbox{
    width: 100%;
    border: 1px solid #ccc;
    padding: 15px 15px 0 15px;
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    ng-select .ng-control{
        height:100%;
        border-radius:0;
    }
    .as-filter{
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
        input{
            padding: 0 15px;
        }
        .input-group-addon{
            color: #007bff;
            background-color: transparent;
            background-image: none;
            border-color: #007bff;
        }
    }
    #search{
        width: 50px;
        flex-grow: 1;
        margin-bottom: 15px;
        padding: 0 15px;
    }
    ng-select .ng-menu-outer{
        width:auto!important;
        min-width: 200px;
    }
}



