// Core variables and mixins
@import "~bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

advanced-searchbox{
    #searchMaterial .mat-form-field-infix{
        width: auto!important;
        min-width: 200px;
    }
    width: 100%;
    border: 1px solid #ccc;
    > div{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    padding: 15px 15px 0 15px;
    display: block;
    .as-filter{
        display: inline-block;
        margin-right: 15px;
        margin-bottom: 15px;
        input{
            padding: 0 15px;
        }
        .input-group{
            flex-wrap: nowrap;
        }
        ng-select{
            input{
                padding:0;
            }
        }
        .input-group-prepend .notClickable{
            color: #007bff;
            background-color: transparent;
            background-image: none;
            border-color: #007bff;
            cursor: default;
        }
        .input-group-prepend .noRadius{
            border-radius:0; 
        }
    }
    #searchBootstrap, #searchMaterial{
        width: 50px;
        flex-grow: 1;
        margin-bottom: 15px;
        padding: 0 15px;
    }
    ng-select, .ng-select{
        .ng-menu-outer{
            width:auto!important;
            min-width: 200px;
        }
        .ng-select-container{
            height:100% !important;
            min-height:100% !important;
            border-radius:0;
        }
    }
    .ng-select, .ng-control{
        min-height: auto!important;
    }
}

.ng-select-dropdown-outer{
    width: auto!important;
}



